<!DOCTYPE html>
<html lang="en">

<head>
  <title>Notes</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'notes/doc.css' %}" media="screen" title="no title" charset="utf-8" />
  <link rel="stylesheet" href="{% static 'notes/bootstrap.css' %}" media="screen" title="no title" charset="utf-8" />
  <link rel="stylesheet" href="{% static 'notes/main.css' %}" media="screen" title="no title" charset="utf-8" />
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
  <header class="main--title_container">
    <!-- <div class="messages">
        {% if messages %} {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %} {% endif %}
      </div> -->
    <h2 class="main--welcome">Welcome, Dr. {{ doctor.last_name }}</h2>
    <a class="btn btn-primary main--button main--logout_button" href="{% url 'login:logout' %}">Logout</a>
  </header>
  <div class="main--container">
    <h1 class="main--header">Patient Notes</h1>
    <div class="main--content_container">
      <div class="doc--patient_container">
        <h3 class="main--float_head">Patients</h3>
        <div class="doc--card_container_outer">
          <div class="doc--card_container" id="notes_container">
            {% if patients %} {% for patient in patients %}
            <div class="main--card_first_last">
              <div class="doc--patient_card">
                <p class="doc--patient_card_head">
                  {{ patient.first_name }} {{ patient.last_name }}
                </p>
                <p>{{ patient.age }}</p>
                <p>{{ patient.main_condition }}</p>
              </div>
            </div>
            {% endfor %} {% else %}
            <p>No patients found.</p>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="doc--patient_container">
        <h3 class="main--float_head">Selected Patient</h3>
        <div class="faves_scroll" id="faves_scroll"></div>
        <div class="doc--card_container_outer"></div>
        <div class="main--user_info_container">
          <div class="main--user_info_head">Dr. {{ doctor.last_name }}</div>
          <div class="main--user_info_content">
            <p>Email: {{ doctor.email }}</p>
            <p>Specialty: {{ doctor.specialty }}</p>
            <p>Years of Experience: {{ doctor.years_experience }}</p>
          </div>
        </div>
      </div>
      <!-- <form
            class="post_note"
            id="post_note"
            action="/notes/create"
            method="post"
          >
            {% csrf_token %}
            <h3 class="main--border_break">Post Note</h3>
            <p>
              <label for="noted_by"
                >Noted By:
                <input
                  class="note_by_input"
                  type="text"
                  name="noted_by"
                  value=""
              /></label>
            </p>
            <p class="no_margin">
              <label for="content"
                >Note:
                <textarea
                  class="note_by_input"
                  name="content"
                  rows="4"
                  cols="40"
                ></textarea
              ></label>
            </p>
            <p class="button_margin">
              <input type="submit" name="submit" value="Post" />
            </p>
          </form> -->
    </div>
  </div>
  </div>
  <script type="text/javascript">
    window.CSRF_TOKEN = "{{csrf_token}}";
  </script>
  <script type="text/javascript" src="{% static 'notes/script.js' %}"></script>
</body>

</html>