<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Note Page</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% load staticfiles %}
    <link href="{% static 'notes/style.css' %}" rel="stylesheet" />
    <script
      type="text/javascript"
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"
    ></script>
  </head>
  <body>
    <header>
      <div class="messages">
        {% if messages %} {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %} {% endif %}
      </div>
      <a href="{% url 'login:logout' %}">Logout</a>
      <h2>Welcome, {{ user.first_name }}!</h2>
    </header>
    <div class="wrap_left">
      <h3 class="main--border_break">Quotable Notes</h3>
      <div class="wrapper_notes" id="wrapper_notes"></div>
    </div>
    <div class="wrap_right">
      <div class="faves">
        <h3 class="main--border_break">Favorites</h3>
        <div class="faves_scroll" id="faves_scroll"></div>
      </div>
      <form
        class="post_note"
        id="post_note"
        action="/notes/create"
        method="post"
      >
        {% csrf_token %}
        <h3 class="main--border_break">Post Note</h3>
        <p>
          <label for="noted_by"
            >Noted By:
            <input class="note_by_input" type="text" name="noted_by" value=""
          /></label>
        </p>
        <p class="no_margin">
          <label for="content"
            >Note:
            <textarea
              class="note_by_input"
              name="content"
              rows="4"
              cols="40"
            ></textarea
          ></label>
        </p>
        <p class="button_margin">
          <input type="submit" name="submit" value="Post" />
        </p>
      </form>
    </div>
    <script type="text/javascript">
      window.CSRF_TOKEN = "{{csrf_token}}";
    </script>
    <script
      type="text/javascript"
      src="{% static 'notes/script.js' %}"
    ></script>
  </body>
</html>
