.home--header {
  text-align: left;
  margin-bottom: 3rem;
  padding: 0.5rem 1rem;
  width: 40%;
  border-bottom: 0.5rem solid rgb(86, 49, 170) !important;
  /* border-radius: 1rem; */
}
.home--button_container {
  margin: 1rem 0rem;
}

.home--button {
  margin: 0rem 1rem;
  border-color: rgb(86, 49, 170) !important;
  background: rgb(86, 49, 170) !important;
}
.home--button:hover {
  border-color: rgb(158, 120, 255) !important;
  background: rgb(158, 120, 255) !important;
  color: black !important;
}
