<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    {% load staticfiles %}
    <link
      rel="stylesheet"
      href="{% static 'login/home.css' %}"
      media="screen"
      title="no title"
      charset="utf-8"
    />
    <link
      rel="stylesheet"
      href="{% static 'login/main.css' %}"
      media="screen"
      title="no title"
      charset="utf-8"
    />
    <link
      rel="stylesheet"
      href="{% static 'main/bootstrap.css' %}"
      media="screen"
      title="no title"
      charset="utf-8"
    />
    <link
      rel="shortcut icon"
      type="image/png"
      href="{% static 'favicon.ico' %}"
    />
  </head>

  <body>
    <div class="home--container">
      <h1 class="home--header">Welcome to Unity</h1>
      <h4 class="home--instruction">
        Please select your member type to register or log in
      </h4>
      <div class="home--button_container">
        <a class="btn btn-primary main--button" href="/redirect/doctor"
          >Doctor</a
        >
        <a class="btn btn-primary main--button" href="/redirect/patient"
          >Patient</a
        >
      </div>
    </div>
  </body>
</html>
