<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="../login/home.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="../../../../css/bootstrap/bootstrap.css"
    />
  </head>

  <body>
    <div class="home--container">
      <h1 class="home--container">Welcome to Unity</h1>
      <h2>Please select your member type to register or login</h2>
      <div className="home--button_container">
        <a class="btn" href="/redirect/doctor">Doctor</a>
        <a class="btn" href="/redirect/patient">Patient</a>
      </div>
    </div>
  </body>
</html>
