.doc--card_container {
  text-align: left;
  overflow-y: scroll;
  height: 100%;
  padding: 0rem 0.7rem;
}

.doc--patient_card {
  padding: 1rem;
  background: rgb(235, 220, 255);
}
.doc--patient_card_head {
  font-size: 1rem;
  margin-bottom: 1rem;
  border-bottom: 0.2rem solid rgb(86, 49, 170) !important;
}
