.doc--patient_container {
  width: 50%;
  padding: 0.2rem 2rem 1rem;
}

.doc--card_container {
  text-align: left;
  overflow-y: scroll;
  height: 100%;
  padding: 0rem 0.7rem;
}
.doc--card_container_outer {
  height: 88%;
  padding: 0.6rem 0rem;
  margin-top: 0.5rem;
  box-shadow: 0 9px 0px 0px rgb(144, 210, 254),
    0 -9px 0px 0px rgb(144, 210, 254), 12px 0 15px -8px rgba(31, 73, 125, 0.8),
    -12px 0 15px -8px rgba(31, 73, 125, 0.8);
}

.doc--patient_card {
  padding: 1rem;
  background: rgb(235, 220, 255);
}
.doc--patient_card_head {
  font-size: 1rem;
  margin-bottom: 1rem;
  border-bottom: 0.2rem solid rgb(86, 49, 170) !important;
}
