.doc--patient_container {
  width: 50%;
  padding: 0.2rem 2rem 1rem;
}
::-webkit-scrollbar {
  width: 1rem;
}
::-webkit-scrollbar-track-piece {
  background-color: rgb(144, 210, 254);
}
::-webkit-scrollbar-thumb:vertical {
  background-color: rgb(235, 220, 255);
  border-radius: 1rem;
  height: 6px;
  border: 0.3rem solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  -webkit-border-radius: 1rem;
}
.doc--card_container {
  text-align: left;
  overflow-y: scroll;
  height: 100%;
  margin-left: 1rem;
  background: none;
}

.doc--patient_card {
  padding: 1rem;
  background: rgb(235, 220, 255);
}
.doc--patient_card_head {
  font-size: 1rem;
  margin-bottom: 1rem;
  border-bottom: 0.2rem solid rgb(86, 49, 170) !important;
}
