html {
  height: 100vh;
}
body {
  min-height: 100vh !important;
  background-color: rgba(40, 230, 195, 0.625) !important;
}

.main--container {
  background-color: rgb(144, 210, 254);
  border: 0.1rem solid black;
  border-radius: 0.5rem;
  width: 90%;
  margin: auto;
  margin-top: 4rem !important;
  padding: 1rem 0rem;
  text-align: center;
  height: 80vh;
}

.main--header {
  text-align: left;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  width: 40%;
  border-bottom: 0.5rem solid rgb(86, 49, 170) !important;
  /* border-radius: 1rem; */
}

.main--button {
  margin: 0rem 1rem;
  border-color: rgb(86, 49, 170) !important;
  background: rgb(86, 49, 170) !important;
}

.main--button:hover {
  border-color: rgb(158, 120, 255) !important;
  background: rgb(158, 120, 255) !important;
  color: black !important;
}

.main--title_container {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: rgb(144, 210, 254);
  border-bottom: 0.2rem solid rgb(86, 49, 170) !important;
}

.main--welcome {
  display: inline-block;
}

.main--logout_button {
  outline: none;
  display: inline-block;
  font-size: 1.2rem;
  padding: 0rem 2rem !important;
  margin: 0.5rem 0rem;
  border-radius: 2rem;
  height: 2rem;
}

.main--content_container {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: auto;
  height: 80%;
}

.main--notes_container {
  text-align: left;
}

.main--info_container {
  width: 50%;
  padding: 0.2rem 2rem 1rem;
}
.main--card_container_outer {
  height: 88%;
  padding: 0.6rem 0rem;
  margin-top: 0.5rem;
  box-shadow: 0 9px 0px 0px rgb(144, 210, 254),
    0 -9px 0px 0px rgb(144, 210, 254), 12px 0 15px -8px rgba(31, 73, 125, 0.8),
    -12px 0 15px -8px rgba(31, 73, 125, 0.8);
}
.main--user_info_container {
  text-align: left;
  border: 0.1rem solid black;
  border-radius: 0.5rem;
  padding: 1rem;
  outline: none;
  background: rgb(235, 220, 255);
}
.main--user_info_head {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  border-bottom: 0.2rem solid rgb(86, 49, 170) !important;
}
.main--user_info_content {
  font-size: 1rem;
}
.main--card_first_last {
  margin: 0.5rem 0rem;
}
.main--card_first_last:first-child {
  margin-top: 0rem;
  border-top: 0.2rem dotted rgb(235, 220, 255);
}
.main--card_first_last:last-child {
  margin-bottom: 0rem;
  border-bottom: 0.2rem dotted rgb(235, 220, 255);
}
.main--float_head {
  padding: 1rem 0rem;
  box-shadow: inset 0 9px 0px 0px rgb(144, 210, 254),
    0 -9px 0px 0px rgb(144, 210, 254), 0 12px 12px -10px rgba(31, 73, 125, 0.8);
  display: inline-block;
  border-radius: 50%;
  width: 70%;
}

.main--form_register {
  display: inline-block;
  border: 2px solid black;
  border-radius: 10px;
}
.main--form_login {
  height: 12rem;
}

.main--button_container {
  text-align: right;
  width: 67%;
  margin: 1rem auto;
}

p.home_logout {
  display: block;
  text-align: right;
}

h4 a {
  font-size: 14px;
}
.error {
  font-style: italic;
  font-weight: bold;
}
header {
  text-align: right;
}

.messages {
  width: 300px;
  min-height: 10px;
  font-style: italic;
  font-weight: bold;
}

td {
  width: 180px;
  text-align: left;
}
td input {
  margin: 0.2rem;
  width: 166.22px;
  border: 0.1rem solid black;
  border-radius: 0.5rem;
  padding: 0.2rem;
  outline: none;
  background: rgb(235, 220, 255);
}
td input:focus {
  border: 0.1rem solid rgb(86, 49, 170);
}
.success {
  color: green;
}
/* .login_body {
  width: 970px;
  margin: auto;
  border: none;
} */
