html {
  height: 100vh;
}
body {
  min-height: 100vh !important;
  background-color: rgba(133, 255, 233, 0.94) !important;
}

.main--container {
  background-color: rgb(105, 195, 255);
  border: 0.1rem solid black;
  border-radius: 0.5rem;
  width: 85%;
  margin: auto;
  margin-top: 8rem !important;
  padding: 1rem 0rem;
  text-align: center;
}

.main--header {
  display: inline-block;
  text-align: left;
  margin-bottom: 3rem;
  padding: 0.5rem 1rem;
  width: 40%;
  border-bottom: 0.5rem solid rgb(86, 49, 170) !important;
}
.main--header_container {
  display: flex;
  justify-content: space-between;
}
.main--back_button {
  outline: none;
  display: inline-block;
  font-size: 0.75rem;
  padding: 0rem 2rem !important;
  margin: 0.5rem 0rem;
  border-radius: 2rem;
  height: 1.25rem;
}

.main--button {
  margin: 0rem 1rem;
  border-color: rgb(86, 49, 170) !important;
  background: rgb(86, 49, 170) !important;
}

.main--button:hover {
  border-color: rgb(158, 120, 255) !important;
  background: rgb(158, 120, 255) !important;
  color: black !important;
}

.main--content_container {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}

.main--form_container {
  text-align: left;
  border: 2px solid black;
  border-radius: 10px;
  vertical-align: top;
  padding-left: 10px;
  width: 48%;
}
.main--wrap {
  width: 50%;
}
.main--login_form_container {
  text-align: left;
  border: 2px solid black;
  border-radius: 10px;
  vertical-align: top;
  padding-left: 10px;
  width: 100%;
}

table {
  width: 95%;
}

.main--button_container {
  text-align: right;
  width: 100%;
  padding: 0.5rem 1rem;
}

.main--form_register {
  border: 2px solid black;
  border-radius: 10px;
}
.main--login_container {
  height: 12rem;
}

p.home_logout {
  display: block;
  text-align: right;
}

h4 a {
  font-size: 14px;
}
h3 {
  vertical-align: top;
  display: inline-block;
  margin-top: -1.4rem;
  margin-right: 12rem;
  background-color: rgb(105, 195, 255);
  border: 0.1rem solid black;
  border-radius: 0.5rem;
  padding: 0.2rem 1rem;
  width: 15rem;
}
.error {
  font-style: italic;
  font-weight: bold;
}
header {
  text-align: right;
}

.messages {
  width: 300px;
  min-height: 10px;
  margin-top: 2rem;
  font-style: italic;
  font-weight: bold;
  color: rgb(152, 18, 18);
}
td {
  padding: 0rem 0.5rem;
}

td input,
select {
  margin: 0.2rem;
  border: 0.1rem solid black;
  border-radius: 0.5rem;
  padding: 0.2rem;
  outline: none;
  background: rgb(235, 220, 255);
  width: 100%;
}
td input:focus {
  border: 0.1rem solid rgb(86, 49, 170);
}
.success {
  color: green;
}
